:root {
  --black-main: #070707;
  --blue-main: #1b03a3;
  --pink-main: #ff0088;
  --teal-main: #00ffc8;
  --yellow-main: #e5a04b;
  --turq-main: #00e0ff;
  --white-main: #f7f7f7;
}

body {
  background-color: var(--black-main);
  /* color: var(--turq-main); */
  color: var(--white-main);
  font-family: "Playfair Display", serif;
  font-family: "League Spartan", sans-serif;
  font-family: "Playfair Display", serif;
  font-size: 16px;
  margin: 0;
  padding-top: 80px;
  overflow-x: hidden;
}

.navbar {
  background-color: var(--black-main) !important;
  color: var(--white-main);
  margin: 0px;
  z-index: 1000;
  width: 100%;
  position: fixed;
  top: 0;
  margin-top: -3px;
  margin-left: -3px;
  padding-bottom: 0px;
  width: 102vw;
}

@media only screen and (min-width: 768px) {
  .hero-wrapper {
    position: fixed;
    top: 0px;
    left: 0;
    padding: 0px;
  }

  .contact-section {
    position: fixed;
    bottom: -5px;
    right: 0px;
    width: 58.33333333%;
  }
  .about-me-section {
    margin-bottom: 239px !important;
  }

  #projects-section-y-wrapper {
    background-color: var(--black-main);
    /* width: 122%; */
  }

  .card-body {
    width: 80%;
  }
}

.everything-else-wrapper {
  margin-right: 0;
  margin-left: auto;
}

.hero-section {
  height: 100vh;
}

.hero-row {
  height: 100vh;
}

.hero-section .content-section {
  border-radius: 10px;
}

.hero-section .content-section,
.border-black {
  margin-right: -3px;
  --border-size: 3px;
  --border-angle: 0turn;
  background-image: conic-gradient(
      from var(--border-angle),
      var(--black-main) 0%,
      var(--black-main) 20%,
      var(--black-main) 100%
    ),
    conic-gradient(
      from var(--border-angle),
      transparent 50%,
      var(--yellow-main),
      transparent 50%,
      var(--turq-main),
      var(--yellow-main)
    );
  background-size: calc(100% - (var(--border-size) * 1.3))
      calc(100% - (var(--border-size) * 1.3)),
    cover;
  background-position: center center;
  background-repeat: no-repeat;

  animation: bg-spin 7s linear infinite;
}

@keyframes bg-spin {
  0% {
    --border-angle: 0turn;
  }
  to {
    --border-angle: 1turn;
  }
}

&:hover {
  animation-play-state: paused;
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 90turn;
}

.index-row {
  padding: 0px;
}

h1 {
  color: var(--turq-main);
}

.image-container {
  position: relative;
  /* width: 25vw; */
  /* height: 25vw; */
  margin: auto;
}

.avatar-border {
  position: relative;
  border-radius: 10%;
  width: 100%;
  height: 100%;
  /* object-fit: contain; */
  overflow: hidden;
  object-position: center;
}

.services-section {
}

.yellow-left {
  color: var(--black-main);
  background-color: var(--yellow-main);
}

.projects-section {
  color: var(--white-main);
  background-color: var(--black-main);

  border-radius: 5px 5px 5px 5px;
  color: var(--turq-main);
}

#projects-section-y-wrapper {
  background-color: var(--black-main);
  /* width: 122%; */
}

.contact-button {
  background-color: var(--yellow-main);
  color: var(--black-main);
}

.contact-button:hover {
  color: var(--turq-main) !important;
}

.card {
  background-color: var(--black-main);
  color: var(--turq-main);
  border-radius: 0px;
}

.card-body p,
.card-body h5 {
  color: var(--white-main);
}

/* .icon-box {
  width: 10vw;
  padding: 5px;
  font-size: 2rem;
} */

#contact i {
  padding-inline: 20px;
  color: var(--white-main);
}
