:root {
  --black-main: #070707;
  --blue-main: #E5A04B;
  --pink-main: #ff0088;
  --lighter-yellow-main: #E5A04B;
  --darker-yellow-main: #A95B1F;
}

body {
  background-color: var(--black-main);
  color: teal;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.hero-section {
}

.hero-section .content-section {
  /* box-sizing: border-box; */
  border: 3px solid teal;
  border-radius: 10px;
}

h1 {
  color: var(--darker-yellow-main)
}
