:root {
  --black-main: #070707;
  --blue-main: #E5A04B;
  --pink-main: #ff0088;
  --lighter-yellow-main: #E5A04B;
  --darker-yellow-main: #A95B1F;
}

body {
  background-color: var(--black-main);
  color: teal;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.hero-section {
  height: 95vh;
}

.hero-section .content-section,
.skill-section .content-section {
  /* box-sizing: border-box; */
  border-radius: 10px;
}

h1, h2 {
  color: var(--darker-yellow-main)
}

h1 {
  color: var(--darker-yellow-main)
}

.name {
  
  background-color: rgba(0,0,0,.9);

}
#fireback {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}

.overlay {
  background-color: rgba(0,0,0,.9);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}